@import "tailwindcss";
@import url("https://use.typekit.net/ctz4zoo.css");

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-prestige-elite-std: "prestige-elite-std", monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "Catavalo";
  src: url("/fonts/Catavalo-Light.woff2") format("woff2"), url("/fonts/Catavalo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* === Globale Tekststørrelser === */

h2 {
  @apply text-3xl lg:text-[80px];
}

h3 {
  @apply text-3xl lg:text-[38px] font-bold font-prestige-elite-std;
}

p {
  @apply text-base lg:text-[16px] font-prestige-elite-std;
}

/* Subtil pixel grid som baggrund */
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px) 0 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px) 0 0;
  background-size: 10px 10px; /* Størrelsen på hver pixel */
  background-attachment: fixed;
}

/* Custom Font Utility */
@layer components {
}

@layer utilities {
  .font-catavalo {
    font-family: "Catavalo", sans-serif;
  }
}
