---
import Button from '../components/Button.astro';
---

<section class="max-w-screen-xl mx-auto px-4 py-20 grid grid-cols-12 gap-4">
  <!-- Overskrift centreret på tværs -->
  <h2 class="col-span-12 text-center ">
    BE APART OF PIXEL
  </h2>

  <!-- Brødtekst i venstre side, lidt uden for kanten -->
  <div class="col-span-12 md:col-span-5 md:-ml-1 mt-15">
    <p>
      Are you an artist working in the digital medium and pushing the boundaries of art/tech creativity? Are you ready to take the next step and move from your computer screen to an immersive exhibition space? If so, you’re in the right place.
    </p>
  </div>

  <!-- Knap i højre side, skubbet ud mod højre -->
  <div class="col-span-12 md:col-span-6 flex justify-end pr-4 md:pr-8 -mr-4 md:-mr-35 mt-80 mb-30">
    <Button>READ MORE</Button>
  </div>
</section>





