---

---

<section class="px-6 py-12">
    <h2>ARE YOU AN ARTIST?</h2>
  
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:grid-rows-2">
      <p class="md:col-start-1 md:row-start-1">
        PIXEL invites digital artists of all kinds to submit their work – whether it moves, flickers, glows, or challenges the norm. Here, there are no strict definitions of what digital art should be – it's up to you to decide.
        </p>
        
        <p class="md:col-start-2 md:row-start-2">
        Your submission will be collected and then shown in their own exhibition space and be part of a dynamic weekend-long showcase. This is a festival shaped by its contributors – a space where new voices in digital art can be seen, experienced, and celebrated.
        </p>
        
    </div>
  </section>
  