---
---
<button class="bg-transparent hover:bg-black text-black font-prestige-elite-std font-bold hover:text-white py-1 px-4 border border-black hover:border-transparent lg:text-[20px] rounded-[20px]">
    <slot />
  </button>