---

---

<style is:global>
    @keyframes typing {
      0% {
        width: 0%;
        visibility: hidden;
      }
      100% {
        width: 100%;
      }
    }
  
    @keyframes blink {
      50% {
        border-color: transparent;
      }
      100% {
        border-color: black;
      }
    }
  
    .animate-typing {
      animation: typing 3.5s steps(20) infinite alternate, blink 0.7s infinite;
    }
  </style>
  
  <div class="flex items-center justify-center p-10">
    <div class="w-max">
      <h3 class="animate-typing overflow-hidden whitespace-nowrap border-r-1 border-r-black pr-5 text-4xl font-bold text-black">
        Deadline 31 may.
      </h3>
    </div>
  </div>
  