---
const { id = "" } = Astro.props;
---
<section 
  id={id}
  x-data="{ mouseX: 0, mouseY: 0, isHovering: false }" 
  @mousemove.window="mouseX = $event.clientX; mouseY = $event.clientY"
  class="relative text-[60px] lg:text-[100px] ml-20 mt-30 lg:mt-10 select-none"
>

  <!-- Custom Cursor -->
  <div 
    x-show="isHovering" 
    :style="{ left: mouseX + 'px', top: mouseY + 'px' }" 
    class="fixed pointer-events-none text-black text-[20px] z-50"
  >
    PIXEL
  </div>

  <!-- Tekst med hover-effekt -->
  <h1 
    @mouseenter="isHovering = true" 
    @mouseleave="isHovering = false" 
    class="lg:blur-sm hover:blur-none transition duration-200 cursor-none font-catavalo text-[70px] lg:text-[120px]"
  >
    PIXEL
  </h1>

  <h1 
    @mouseenter="isHovering = true" 
    @mouseleave="isHovering = false" 
    class="lg:blur-sm hover:blur-none transition duration-200 cursor-none"
  >
    DIGITAL ART FESTIVAL
  </h1>

  <h1 
    @mouseenter="isHovering = true" 
    @mouseleave="isHovering = false" 
    class="lg:blur-sm hover:blur-none transition duration-200 cursor-none"
  >
    27 - 29 JUNE
  </h1>

  <h1 
    @mouseenter="isHovering = true" 
    @mouseleave="isHovering = false" 
    class="lg:blur-sm hover:blur-none transition duration-200 cursor-none"
  >
    NIKOLAJ KUNSTHAL
  </h1>
</section>
