---
---
<div class="fixed top-[200px] left-0 w-full h-[calc(100vh-100px)] z-[-1] pointer-events-none">
  <div class="w-full h-full flex justify-center items-start">
    <h1 class="text-[20vw] font-catavalo opacity-20 select-none leading-none tracking-tight blur-[5px]">
      PIXEL
    </h1>
  </div>
</div>