---
---
<button
  class="bg-white hover:bg-black text-black font-prestige-elite-std font-bold hover:text-white py-1 px-4 border border-black hover:border-transparent lg:text-[24px] rounded-[20px] fixed bottom-4 left-1/2 transform -translate-x-1/2 z-50"
>
  BUY TICKETS
</button>

