---
---
<div id="buy-tickets-wrapper" class="fixed left-0 w-full z-50 px-[0px] md:px-[0px] xl:pl-[80px] xl:pr-[210px] pointer-events-none mt-10 2xl:mt-[90px]">
  <div class="relative">
    <a href="/buy_tickets" class="pointer-events-auto">
      <button
        id="buy-tickets-button"
        class="bg-white hover:bg-black text-black font-prestige-elite-std font-bold hover:text-white py-1 px-4 border border-black hover:border-transparent lg:text-[20px] rounded-[20px] mx-auto block mb-2 w-fit"
        style="position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%);"
      >
        BUY TICKETS
      </button>
    </a>
    
  </div>
</div>

<script>
  document.addEventListener('scroll', () => {
    const button = document.getElementById('buy-tickets-button');
    const newsletter = document.getElementById('newsletter');
    if (!button || !newsletter) return;

    const newsletterRect = newsletter.getBoundingClientRect();
    const buttonHeight = button.offsetHeight;
    const viewportHeight = window.innerHeight;

    const offset = 0; // ← Matcher inline-style
    const extraOffset = 0;

    if (newsletterRect.top < viewportHeight - buttonHeight - offset) {
      const overlap = (viewportHeight - buttonHeight - offset) - newsletterRect.top + extraOffset;
      button.style.bottom = `${offset + overlap}px`;
    } else {
      button.style.bottom = `${offset}px`;
    }
  });
</script>


  
  