---
---
<div class="mx-[15px] md:mx-[20px] xl:mr-[210px] xl:ml-[80px]">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6 py-16 items-start md:items-center">
    <div class="col-span-1 md:col-span-4 md:col-start-8 text-left md:text-right ">
      <h2 class="whitespace-nowrap">WHAT IS PIXEL?</h2>
    </div>

    <div class="col-span-1 md:col-span-9 md:col-start-1 leading-relaxed space-y-6 text-left mb-0">
      <p>PIXEL is a modern art festival celebrating digital art forms such as video art, motion graphics, generative graphics, and interactive projections. Over the course of a weekend, we present three unique artists—one each day—in the same exhibition space, with the display transforming daily. The digital nature of the artworks allows for seamless transitions, offering a fresh experience every day.</p>
      <p>Alongside the main exhibitions, we showcase submitted works from digital artists across the country in a special exhibition accessible throughout the entire weekend. Visitors are invited to explore the diversity of digital art and experience how technology and creativity merge into a unified expression.</p>
    </div>
  </div>
</div>


