---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Pixel from "../components/Pixel.astro";
import Menu from "../components/Menu.astro";
import Stickybutton from "../components/Stickybutton.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>

		<header id="header">
			<Menu></Menu>
			
		</header>
		
		<main class="relative">
  <Pixel></Pixel>
			<div class="mx-[15px] md:mx-[20px] xl:mr-[210px] xl:ml-[80px]">
			<slot />
			
			</div>
		</main>

		<footer id="footer">
			<Footer></Footer>
		</footer>
			
	</body>
</html>